.product-image-button {
	padding: 0 0 45px 0;
	position: relative;
}

.product-image-item {
	display: flex;	
	border-radius: 4px;
	overflow: hidden;
	border: none;
	margin-bottom: 15px;
	height: 99px;
	transition: all .3s ease-in-out;
}

.product-image-item:last-child {
	margin-bottom: 0;
}

.product-image-item-image {
	width: 129px;
}

.product-image-item-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.product-image-content {
	width: calc(100% - 129px);
	padding: 16px 17px 17px 17px;
	color: #fff;
	background-color: #082449;
}

.product-image-content p,
.product-image-content .btn-primary {
	display: none;
}

.product-image-content .btn-secondary {
	text-align: left;
	color: #fff;
	text-transform: unset;
	position: inherit;
}

.product-image-content .btn-secondary:before {
	color: #F7744C;
    top: 50%;
    right: 17px;
    transform: translate(0, -50%);
}

.product-image-content h3 {
	color: #fff;
	padding-bottom: 0;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	transition: all .3s ease-in-out;
}


.hide-background.product-image-button:before {
	display: none;
}

@media (min-width: 400px) {
	.product-image-content {
		padding: 24px 17px 17px 17px;
	}
}

@media (min-width: 768px) {
	.product-image-item-image {
		width: 232px;
	}

	.product-image-content {
		width: calc(100% - 232px);
		padding: 0;
		padding-left: 51px;	
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.product-image-content h3 {
	    font-size: 28px;
	}

	.product-image-item {
	    height: 158px;
	    margin-bottom: 21px;
	}

	.product-image-content .btn-secondary {
	    width: fit-content;
	    font-size: 22px;
	    position: relative;
	    padding-right: 45px;
	}

	.product-image-content .btn-secondary:before {
	    top: 0;
	    right: 0;
	    transform: unset;
	}

	.product-image-button:before {
	    position: absolute;
	    content: "";
	    width: 100%;
	    height: 80px;
	    bottom: 0;
	    left: 0;
	    background-color: #e9eef4;
	}

	.product-image-button {
		padding: 0;
	}
}


@media (min-width: 1200px) {
	.product-image-button:before {
	    height: 50%;
	}

	.product-image-wrapper {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-gap: 32px;
	}

	.product-image-item {
	    display: block;
	    height: 434px;
	    grid-column: span 2;
	    margin-bottom: 0;
	}

	/* Dealing with 2 orphan items */
	.product-image-item:last-child:nth-child(3n - 1) {
	  grid-column-end: -2;
	}

	.product-image-item:nth-last-child(2):nth-child(3n + 1) {
	  grid-column-end: 4;
	}

	/* Dealing with single orphan */

	.product-image-item:last-child:nth-child(3n - 2) {
	  grid-column-end: 5;
	}

	.product-image-item-image {
		width: 100%;
		height: 100%;
	}

	.product-image-content {
		width: 100%;
		position: absolute;
		top: 0;
		height: 100%;
		display: block;
		padding: 30px;
		background: transparent;
	}

	.product-image-content:before {
	    position: absolute;
	    content: "";
	    width: 100%;
	    height: 100%;
	    bottom: 0;
	    left: 0;
	    background: rgb(8,36,73);
	    background: linear-gradient(180deg, rgba(8,36,73,1) 0%, rgba(2,7,15,1) 100%);
	    opacity: 0.7;
	}

	.product-image-content h3 {
	    font-size: 30px;
	    position: relative;
	    z-index: 9;
	}

	.product-image-content p,
	.product-image-content .btn-primary {
		display: block;
		transition: all .6s ease-in-out;
		opacity: 0;
	}

	.product-image-item:hover .product-image-content .btn-secondary:before {
		display: none;
	}

	.product-image-item:hover .product-image-content .btn-secondary:after {
		position: absolute;
		content: "";
		width: 61px;
		height: 2px;
		background-color: #EE5E32;
		left: 0;
		bottom: 0;
	}

	.product-image-content .btn-secondary {
		padding-bottom: 20px;
		border: none;
	}

	.product-image-content p {
		font-size: 15px;
		color: #fff;
		position: relative;
		margin-top: 20px;
	}

	.product-image-content .btn-primary {
		position: absolute;
		bottom: 0;
		right: 0;
		border-radius: 4px 0 0 0;
	}
	.product-image-content .btn-primary:after {
		content: "\e902";
	    font-family: 'icomoon';
	    font-size: 18px;
	    color: #fff;
	    position: relative;
	    margin-left: 10px;
	    top: 2px;
	}

	.product-image-item:hover .product-image-content p,
	.product-image-item:hover .product-image-content .btn-primary {
		opacity: 1;
	}


	.product-image-item:hover  .product-image-content:before  {
	    opacity: 0.9;
	}
}


@media (min-width: 1366px) {
	.product-image-content {
		padding: 40px;
	}
}

.image-button-heading {
	padding-bottom: 40px;
}

@media (min-width: 768px) {
	.image-button-heading {
		padding-bottom: 55px;
		text-align: center;
	}
}
